body{
    font-family: 'Poppins', sans-serif;
}

p{
    color: dimgray;
    font-size: 1em;
}

.bold-tt{
    font-weight: 700;
}

.bg-color-pn{
    background-color: #FFFBF0;
    padding-bottom: 5em;
}

ul{
    font-weight: bold;
}

.front-line h1{
    font-size: 40px;
    font-weight: 800;
}

.front-h1{
    color: #FABE4C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.front-h11{
    color: #363958;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.btn-color{
    background-image: linear-gradient(#a4bb4a , #8AA521);
    color: white;
}

.border-n, .btn-color{
    border: none;
}

.filled{
    color: goldenrod;
}

.review-bg{
    background-color: #fcf2d9;
    border-radius: 20px;
}

footer{
    background-color:#D7E0B4;
    margin-top: 7em;
}


.dim-light{
    background-color: #F1F1F1;
}
